header {
  padding: 15px;
  /* See https://codepen.io/sdthornton/pen/wBZdXq for further reference*/
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-bottom: 20px;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: white;
}

header ul {
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

header ul li {
  display: block;
  margin: 0 15px;
  font-size: 2rem;
  text-align: center
}

header ul li:first-child {
  margin-left: 0;
}

header ul li:last-child {
  margin-right: 0;
}

header ul li a {
  text-decoration: none;
  color: inherit;
}

header ul li a:hover {
  transition: all 0.5s linear;
  color: #33C3F0;
}

header ul li a.active {
  border-bottom: 2px solid #33C3F0;
}

/* Responsive Menu Styling including hamburger menu, inspiration from: https://www.jqueryscript.net/menu/Fullscreen-Hamburger-Menu-Plugin-jQuery-Overlay-Menu.html */
.overlay {
  background-image: none;
  background-color: black;
}

.overlay li {
  font-size: 1em;
}

.overlay ul {
  font-family: inherit;
}

.bar {
  background-color: black;
}

.toggle-button {
  display: none;
  position: relative;
  top: -5px;
}

.toggle-button:hover {
  opacity: 1;
}

@media all and (max-width: 980px) {
  .toggle-button {
    display: block;
  }

  #main-navigation {
    display: none;
  }
}

/* Add a little margin at top and bottom and center all images */
img {
  display: block;
  margin: 15px auto;
}

footer {
  background-color: #111;
  color: white;
  height: 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

@media all and (max-width: 667px) {
  footer {
    flex-direction: column;
    justify-content: center;
  }
}